<a href="https://colab.research.google.com/github/sejongsmarcle/2023_Spring_Kaggle_Study/blob/main/%EC%BA%90%EA%B8%80_1%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
test = pd.read_csv('/content/movies_test.csv')
train = pd.read_csv('/content/movies_train.csv')
submission = pd.read_csv('/content/submission.csv')

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [ ]:
train['dir_prev_bfnum'].fillna(0, inplace = True)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  600 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    object
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  107 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 21.0+ KB

In [ ]:
test['dir_prev_bfnum'].fillna(0, inplace = True)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           243 non-null    object
 1   distributor     243 non-null    object
 2   genre           243 non-null    object
 3   release_time    243 non-null    object
 4   time            243 non-null    int64
 5   screening_rat   243 non-null    object
 6   director        243 non-null    object
 7   dir_prev_bfnum  243 non-null    float64
 8   dir_prev_num    243 non-null    int64
 9   num_staff       243 non-null    int64
 10  num_actor       243 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 21.0+ KB

In [ ]:
import lightgbm as lgb

In [ ]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

features=['time', 'dir_prev_num', 'num_actor', 'num_staff']
target=['box_off_num']

X_train, X_test, y_train = train[features], test[features], train[target]

In [ ]:
X_train

     time  dir_prev_num  num_actor  num_staff
0      96             0          2         91
1     130             2          3        387
2     123             4          4        343
3     101             2          6         20
4     108             1          2        251
..    ...           ...        ...        ...
595   111             1          7        510
596   127             1          6        286
597    99             0          4        123
598   102             0          4        431
599   120             0          5        363

[600 rows x 4 columns]

In [ ]:
model.fit(X_train, y_train)

LGBMRegressor(n_estimators=1000, random_state=777)

In [ ]:
singleLGBM = submission.copy()

In [ ]:
singleLGBM['box_off_num']  = model.predict(X_test)

In [ ]:
singleLGBM.to_csv('singleLGBM.csv', index = False)

In [ ]:
from sklearn.model_selection import KFold
k_fold = KFold(n_splits=5, shuffle=True, random_state=777)

model = lgb.LGBMRegressor(random_state=777, n_estimators=1000)

models=[]

for train_idx, val_idx in k_fold.split(X_train):
  x_t = X_train.iloc[train_idx]
  y_t = y_train.iloc[train_idx]
  x_val = X_train.iloc[val_idx]
  y_val = y_train.iloc[val_idx]

  models.append(model.fit(x_t, y_t, eval_set=(x_val,y_val), early_stopping_rounds=100, verbose=100))

[100]	valid_0's l2: 2.70572e+12
[100]	valid_0's l2: 3.90847e+12
[100]	valid_0's l2: 3.50344e+12
[100]	valid_0's l2: 1.45977e+12
[100]	valid_0's l2: 1.77214e+12

/usr/local/lib/python3.9/dist-packages/lightgbm/sklearn.py:726: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/usr/local/lib/python3.9/dist-packages/lightgbm/sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "