<a href="https://colab.research.google.com/github/sejongsmarcle/2023_Spring_Kaggle_Study/blob/main/%EC%8A%A4%ED%84%B0%EB%94%94%20%EC%8B%9C%EA%B0%84/3week/3%ED%8C%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [131]:
import pandas as pd
import lightgbm as lgbm

In [132]:
train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
submission = pd.read_csv('/content/submission_제출양식.csv')

In [133]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from lightgbm import LGBMRegressor

In [134]:
train.head()

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64

In [135]:
train['now_arrive_time'] = train['now_arrive_time'].str.slice(stop = -1).astype('int')

In [136]:
test['now_arrive_time'] = test['now_arrive_time'].str.slice(stop = -1).astype('int')

In [137]:
features = ['now_latitude', 'now_longitude', 'now_arrive_time', 'distance']
target = ['next_arrive_time']

In [138]:
X_train = train[features]
X_test = test[features]
y_train = train[target]

In [139]:
model = {
    'lr' : LinearRegression(),
    'rf' : RandomForestRegressor(n_estimators = 300, random_state = 0),
    'lgbm': LGBMRegressor(random_state = 0, max_depth = 20)
}

In [140]:
print(train.shape)
print(test.shape)
print(submission.shape)

(210457, 14)
(91774, 13)
(91774, 2)

In [141]:
jiyool = {}
for key in model.keys():
    print("#### 학습 중 ####")
    model[key].fit(X_train, y_train)
    print("#### 예측 중 ####")
    jiyool[key] = model[key].predict(X_test)

#### 학습 중 ####
#### 예측 중 ####

In [142]:
lr_submit = submission.copy()
rf_submit = submission.copy()
lgbm_submit = submission.copy()

In [143]:
lr_submit['next_arrive_time'] = jiyool['lr']
rf_submit['next_arrive_time'] = jiyool['rf']
lgbm_submit['next_arrive_time'] = jiyool['lgbm']

In [144]:
lr_submit.to_csv('lr.csv', index = False)
rf_submit.to_csv('rf.csv', index = False)
lgbm_submit.to_csv('lgbm.csv', index = False)