<a href="https://colab.research.google.com/github/sejongsmarcle/2023_Spring_Kaggle_Study/blob/main/%EC%8A%A4%ED%84%B0%EB%94%94%EC%8B%9C%EA%B0%84/3%ED%8C%80_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 최종: 338등
pm10, pm2.5의 결측치를 수정하지 않았던 파일과 수정한 파일의 점수는 동일했습니다ㅠ

In [164]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [165]:
train = pd.read_csv('/content/Kaggle_Data/bike_train.csv')
test = pd.read_csv('/content/Kaggle_Data/bike_test.csv')
submission = pd.read_csv('/content/Kaggle_Data/bike_submission.csv')

In [166]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [167]:
train.isna().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [168]:
train[train['hour_bef_pm2.5'].isna()]

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
14,28,1,20.0,0.0,1.8,58.0,2000.0,NaN,NaN,NaN,74.0
33,56,21,10.2,0.0,0.5,84.0,1668.0,0.021,24.0,NaN,127.0
46,78,1,12.2,0.0,3.0,49.0,1071.0,NaN,NaN,NaN,36.0
84,130,1,9.4,0.0,2.5,65.0,1907.0,NaN,NaN,NaN,39.0
100,149,16,15.8,0.0,5.3,17.0,1923.0,0.047,NaN,NaN,102.0
...,...,...,...,...,...,...,...,...,...,...,...
1361,2047,1,12.6,0.0,2.4,48.0,1805.0,NaN,NaN,NaN,43.0
1378,2066,11,10.1,0.0,1.5,59.0,990.0,0.015,39.0,NaN,78.0
1391,2086,1,11.5,0.0,3.2,23.0,2000.0,NaN,NaN,NaN,42.0
1398,2096,20,14.0,0.0,2.9,35.0,910.0,0.061,NaN,NaN,117.0
1410,2114,22,18.1,0.0,4.6,73.0,1796.0,0.039,27.0,NaN,143.0

In [169]:
train.groupby('hour').mean()['hour_bef_pm2.5']

hour
0     30.982759
1           NaN
2     31.366667
3     31.466667
4     32.116667
5     31.525424
6     31.603448
7     31.779661
8     31.796610
9     31.616667
10    30.948276
11    30.827586
12    29.280702
13    29.946429
14    29.844828
15    28.741379
16    27.910714
17    28.553571
18    29.127273
19    28.338983
20    28.850000
21    29.694915
22    30.216667
23    30.593220
Name: hour_bef_pm2.5, dtype: float64

In [170]:
train['hour_bef_temperature'].fillna({934:14.788136, 1035:20.926667 }, inplace = True)

In [171]:
train['hour_bef_precipitation'].fillna({934:0.016949, 1035:0.016667}, inplace = True)

In [172]:
train['hour_bef_windspeed'].fillna({18:3.281356, 244:1.836667, 260:1.620000, 376:1.965517, 780:3.278333, 934:1.965517, 1035:3.838333, 1138:2.766667, 1229:1.633333}, inplace = True)

In [173]:
train['hour_bef_humidity'].fillna({934:58.169492, 1035:40.450000}, inplace = True)

In [174]:
train['hour_bef_visibility'].fillna({934:1434.220339, 1035:1581.850000}, inplace = True)

In [175]:
train['hour_bef_ozone'].fillna({44:0.060362, 122:0.060579, 140:0.025167, 422:0.058508, 451:0.060362, 532:0.036817, 537:0.025300, 595:0.030367, 631:0.057400, 645:0.029317, 868:0.060579, 897:0.045203, 1035:0.058508, 1211:0.060579}, inplace = True)

In [176]:
train['hour_bef_ozone'].fillna(0.0321275, inplace = True)

In [177]:
train['hour_bef_pm10'].fillna({100:57.315789, 129:53.847458, 140:61.083333, 169:57.315789, 344:57.355932, 489:59.589286, 532:59.344828, 537:56.533333, 566:59.344828, 595:60.300000, 597:59.589286, 607:53.118644, 645:56.150000, 751:56.875000, 753:57.086207, 865:57.086207, 884:56.875000, 897:59.589286, 923:57.315789, 934:55.881356, 1035:56.875000, 1356:56.875000, 1090:59.344828, 1107:58.283333, 1163:59.589286, 1222:57.355932, 1301:56.875000, 1338:53.847458, 1398:53.118644}, inplace = True)

In [178]:
train['hour_bef_pm10'].fillna(57.178383, inplace = True)

In [179]:
train['hour_bef_pm2.5'].fillna({33:29.694915,100:27.910714,129:28.338983,140:30.948276,169:27.910714,192:31.796610,234:28.553571,273:30.948276,344:28.741379,489:29.946429,532:29.280702,537:31.779661,566:29.280702,595:30.827586,597:29.946429,633:29.844828,645:31.603448,672:31.525424,680:27.910714,751:29.127273,753:28.553571,784:31.796610,791:29.844828,820:30.593220,855:31.603448,865:28.553571,884:29.127273,897:29.946429,910:28.741379,923:27.910714,932:32.116667,934:30.982759,937:29.280702,948:30.948276,953:31.779661,1035:29.127273,1050:30.827586,1053:31.616667,1056:29.127273,1090:29.280702,1107:29.844828,1163:29.946429,1173:31.525424,1181:31.603448,1218:31.366667,1222:28.741379,1226:29.127273,1231:30.593220,1264:28.553571,1301:29.127273,1304:31.466667,1316:30.982759,1338:28.338983,1378:30.827586,1398:28.850000,1410:30.216667}, inplace = True)

In [180]:
train['hour_bef_pm2.5'].fillna(31.174713, inplace = True)

In [199]:
test.isna().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

In [182]:
test[test['hour_bef_pm2.5'].isna()]

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
18,42,18,29.4,0.0,3.3,43.0,1685.0,0.055,NaN,NaN
32,82,1,22.8,0.0,2.4,52.0,2000.0,NaN,NaN,NaN
40,115,1,21.5,1.0,0.5,90.0,347.0,NaN,NaN,NaN
47,147,1,22.8,0.0,1.2,57.0,1190.0,NaN,NaN,NaN
86,260,1,20.0,0.0,2.0,65.0,1662.0,NaN,NaN,NaN
92,270,1,20.0,0.0,1.7,31.0,2000.0,NaN,NaN,NaN
102,297,1,15.1,1.0,2.2,98.0,224.0,NaN,NaN,NaN
114,323,1,18.7,0.0,1.4,41.0,2000.0,NaN,NaN,NaN
126,352,1,19.2,0.0,1.4,80.0,1085.0,NaN,NaN,NaN
128,356,15,25.5,0.0,3.6,40.0,1404.0,0.077,NaN,NaN
129,358,1,23.6,0.0,0.9,83.0,466.0,NaN,NaN,NaN
137,391,15,29.0,0.0,2.9,49.0,1776.0,0.052,NaN,NaN
209,609,1,18.6,0.0,2.4,37.0,2000.0,NaN,NaN,NaN
223,643,1,16.8,0.0,3.6,83.0,1839.0,NaN,NaN,NaN
237,675,19,29.0,0.0,4.0,38.0,1959.0,0.053,NaN,NaN
272,781,1,20.1,0.0,3.1,81.0,266.0,NaN,NaN,NaN
307,890,1,20.9,0.0,0.4,73.0,1218.0,NaN,NaN,NaN
353,1034,1,23.7,0.0,2.0,78.0,332.0,NaN,NaN,NaN
355,1040,1,24.7,0.0,1.7,48.0,1864.0,NaN,NaN,NaN
360,1050,1,19.5,0.0,2.6,42.0,2000.0,NaN,NaN,NaN
393,1143,1,21.7,0.0,2.8,77.0,1829.0,NaN,NaN,NaN
418,1236,1,21.6,0.0,2.6,81.0,1340.0,NaN,NaN,NaN
419,1237,1,18.8,0.0,0.9,72.0,503.0,NaN,NaN,NaN
458,1356,1,23.2,0.0,1.5,65.0,1734.0,NaN,NaN,NaN
471,1395,1,21.4,0.0,1.8,74.0,1300.0,NaN,NaN,NaN
492,1462,1,20.9,0.0,2.5,41.0,2000.0,NaN,NaN,NaN
502,1512,1,21.4,0.0,1.1,73.0,713.0,NaN,NaN,NaN
523,1574,1,19.5,0.0,2.6,77.0,769.0,NaN,NaN,NaN
571,1712,16,25.5,0.0,4.6,45.0,1320.0,0.082,NaN,NaN
620,1857,1,21.2,0.0,1.6,68.0,839.0,NaN,NaN,NaN
626,1871,1,22.9,0.0,2.6,38.0,2000.0,NaN,NaN,NaN
642,1913,1,24.6,0.0,0.6,55.0,2000.0,NaN,NaN,NaN
653,1943,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
694,2104,1,21.7,0.0,1.7,75.0,957.0,NaN,NaN,NaN
710,2148,1,24.6,0.0,2.4,60.0,1745.0,NaN,NaN,NaN
711,2149,1,18.1,0.0,1.0,55.0,2000.0,NaN,NaN,NaN

In [183]:
train.groupby('hour').mean()['hour_bef_pm2.5']

hour
0     30.982759
1     31.174713
2     31.366667
3     31.466667
4     32.116667
5     31.525424
6     31.603448
7     31.779661
8     31.796610
9     31.616667
10    30.948276
11    30.827586
12    29.280702
13    29.946429
14    29.844828
15    28.741379
16    27.910714
17    28.553571
18    29.127273
19    28.338983
20    28.850000
21    29.694915
22    30.216667
23    30.593220
Name: hour_bef_pm2.5, dtype: float64

In [184]:
test['hour_bef_temperature'].fillna({653:19.704918}, inplace = True)

In [185]:
test['hour_bef_precipitation'].fillna({653:0.032787}, inplace = True)
test['hour_bef_windspeed'].fillna({653:3.595082}, inplace = True)
test['hour_bef_humidity'].fillna({653:43.573770}, inplace = True)

In [186]:
test['hour_bef_visibility'].fillna({653:1576.688525}, inplace = True)

In [187]:
test['hour_bef_ozone'].fillna({212:0.057400, 386:0.053344, 637:0.045203, 653:0.053967, 658:0.053344}, inplace = True)

In [188]:
test['hour_bef_ozone'].fillna(0.0321275, inplace = True)

In [189]:
test['hour_bef_pm10'].fillna({18:56.875000, 128:57.355932, 137:57.355932, 182:59.589286,237:53.847458,571:57.315789, 653:53.847458}, inplace = True)

In [190]:
test['hour_bef_pm10'].fillna(57.178383, inplace = True)

In [191]:
test['hour_bef_pm2.5'].fillna({18: 29.127273,128: 28.741379,137:28.741379,237:28.338983,571:27.910714,653:28.338983}, inplace = True)

In [192]:
test['hour_bef_pm2.5'].fillna(31.174713, inplace = True)

In [193]:
train.isna().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [194]:
features=['hour','hour_bef_temperature','hour_bef_precipitation', 'hour_bef_windspeed', 'hour_bef_humidity', 'hour_bef_visibility', 'hour_bef_ozone', 'hour_bef_pm10', 'hour_bef_pm2.5']

X_train = train[features]
y_train = train['count']
X_test = test[features]

In [195]:
model300_20_5_2 = RandomForestRegressor(n_estimators = 300, max_depth = 20, min_samples_split=5, random_state = 0)

In [196]:
model300_20_5_2.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, min_samples_split=5, n_estimators=300,
                      random_state=0)

In [200]:
ypred = model300_20_5_2.predict(X_test)

In [201]:
submission['count'] = ypred
submission.to_csv('model300_20_5_2.csv', index = False)